body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

#ok{
    width: 150px;
    margin-top: 50px;
}