button{
    width: 150px;
    height: 70px;
    margin: 10px;
    padding: 10px;
}

.modifybttns{
    height: 90px;
}

#imglogo{
    width: 150px;
}

#topbar{
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#modify{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#settings{
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 0;
}

#goback{
    width: 35px;
    height: 35px;
    padding: 5px;
}

#logout{
    width: fit-content;
    height: 35px;
    padding: 5px;
    margin-left: 0;
}