button{
    width: 200px;
    margin-inline: 20px;
}
#text{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}